.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left img {
  margin-left: -2rem;
}
.right {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
}
.menu a {
  color: #444;
  font-size: 17px;
  font-family: var(--font);
  /* font-weight: 600; */
  transition: all 0.3s ease-out;
}
.menu a:hover {
  color: var(--orange);
}

.button {
  border-radius: 50px;
  border: 1px solid #444;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
}
.button p {
  color: #444;
  font-size: 17px;
  font-family: var(--font);
}
.button i {
  font-size: 17px;
  color: #444;
  margin-left: 5px;
}
.button img {
  width: 23px;
  height: 23px;
}
@media screen and (max-width: 500px) {
  .menu {
    display: none;
  }
  .button {
    padding: 0.6rem 1rem;
    border-radius: 4px;
  }
  .button p {
    font-size: 14px;
  }
  .button img {
    width: 18px;
    height: 18px;
  }
}
