.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.left {
  flex: 1;
  display: flex;
  position: relative;
}
.left img {
  position: absolute;
  object-fit: contain;
  width: 800px;
  height: 400px;
  top: -20vh;
  left: -16vw;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ad {
  border-radius: 5px;
  background: rgba(255, 164, 36, 0.12);
  width: 208px;
  height: 45px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleAd {
  color: var(--orange);
  font-size: 17px;
  font-family: var(--font);
  font-weight: 500;
}
.title {
  color: #333;
  font-size: 60px;
  font-family: var(--font);
  font-weight: 600;
}
.title span {
  background: linear-gradient(
    rgba(255, 164, 36, 1),
    rgb(248, 167, 53),
    rgb(245, 185, 100),
    rgb(240, 218, 188)
  );
  -webkit-background-clip: text;
  color: transparent;
}
.paragraph {
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: initial;
  color: var(--black);
  opacity: 0.78;
}
.faq {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}
.titleFaq {
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  text-transform: initial;
  color: var(--orange);
}
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  padding: 0.7rem 1rem;
  cursor: pointer;
  border-radius: 50px;
}
.question p {
  font-family: var(--font);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: initial;
  color: var(--black);
}
.question i {
  font-size: 20px;
  color: var(--orange);
}
.anwser {
  padding: 1rem;
  font-family: var(--font);
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 500px) {
  .content {
    flex-direction: column-reverse;
    margin-top: -3rem;
    margin-bottom: -2rem;
  }
  .right {
    width: 100%;
  }
  .question {
    font-size: 44px;
    line-height: 50px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .subtitle {
    display: flex;
    align-items: center;
    margin: 25px 0;
  
  }
  .subtitle p {
    font-size: 18px;
  }

}